<html>
    <head>
        <body>
            
            <form class="grid" action="/result" method="POST">

                {% if name %}
                  <center>
                    <h3 style="color: blue;" class="let_space">{{name}} {{a}}</h3>
                  </center> 
      
                {% endif %}
                 
                <label for="name">Enter your area:</label>
                <input type="text" id="area" name="name" >
      
                <center><input class="file_submit" type="Submit"></center>
      
            </form>
        </body>
    </head>
</html>